fastapi
uvicorn[standard]
langserve
langchain
langchain-community
langchain-chroma
langchain-huggingface
sentence-transformers
konlpy
python-dotenv
requests
tqdm
langchain-core
langchain-openai
langchain-ollama
langchain-text-splitters
chromadb
transformers
torch
sentence-transformers
requests
tqdm
pandas
beautifulsoup4
rank_bm25
torch
torchvision
torchaudio
debugpy
sse_starlette
